*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.digitalClock{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    margin-left: 30vw;
    letter-spacing: 10px;
    border: 3px double white;
    padding: 20px;
    width: 35vw;
}